$main-light-color: #009ED7
$hero-background-color: transparent
$header-background: transparent
$hero-color: black
$breadcrumb-color: black
$footer-background-color: white

$body-font-family: "Adelphe", serif
$heading-font-family: "Adelphe", serif

$body-font-size: px2rem(18)
$small-font-size: px2rem(18)

$h1-size: px2rem(55)
$h1-size-md: px2rem(100)
$h2-size-md: px2rem(28)

$h1-line-height: 100%
$h2-line-height: 140%


// Specific
$lines-opacity: 0.2