$main-light-color: #009ED7
$hero-background-color: transparent
$header-background-color: transparent
$hero-color: black
$breadcrumb-color: black
$footer-background-color: transparent

$body-font-family: "Adelphe", serif
$heading-font-family: "Adelphe", serif

$body-font-size: px2rem(28)
$small-font-size: px2rem(18)

$h1-size-md: px2rem(100)
$h1-line-height: 100%
