.letters
    margin-top: $spacing4
    .container
        @include grid(2, md)
        @include grid(4, xxl)
    .letter
        margin-bottom: $spacing3
        p, li, a
            font-size: px2rem(28)
            line-height: 1.2
        span
            font-size: px2rem(120)
        &--active
            span
                color: $main-light-color
        &--first
            &.letter--active
                span
                    // https://codepen.io/sosuke/pen/Pjoqqp
                    filter: invert(45%) sepia(41%) saturate(4526%) hue-rotate(168deg) brightness(98%) contrast(96%)
                    @include media-breakpoint-down(md)
                        display: none
            img
                margin-top: 43px
            p
                font-style: italic
                line-height: 1.4
                margin-top: -20px
                @include media-breakpoint-up(md)
                    width: col(5, 6)
            @include media-breakpoint-up(md)
                grid-column: span 2
        ul
            list-style-type: none
            padding-left: 0
            margin: 0
            li
                padding-bottom: px2rem(20)
            li.active
                color: $main-light-color

                 