.letters
    margin-top: $spacing5
    .letter
        margin-bottom: $spacing3
        @include media-breakpoint-up(md)
            display: inline-table
            width: col(3)
            margin-right: 32px
        p, li, a
            font-size: px2rem(28)
        span
            font-size: px2rem(120)
        &--active
            span
                color: $main-light-color
        &--first
            @include media-breakpoint-up(md)
                width: 50%
            p
                font-style: italic
                @include media-breakpoint-up(md)
                        width: col(5, 6)
        ul
            list-style-type: none
            padding-left: 0
            margin: 0
            li
                padding-bottom: px2rem(20)
            li.active
                color: $main-light-color

                