.lines
    position: fixed
    top: 0
    right: 64px
    bottom: 0
    left: 64px
    z-index: -1
    @media (min-width: 1980px)
        width: 1850px
        margin: 0 auto
    &__line
        position: absolute
        width: 1px
        height: 100%
        background: $color-accent
        opacity: $lines-opacity
    &__1
        left: 0
    &__2
        left: offset(3)
    &__3
        left: offset(6)
    &__4
        left: offset(9)
    &__5
        right: 0
    @include media-breakpoint-down(lg)
        &__3
            left: 50%
        &__2,
        &__4
            display: none
    @include media-breakpoint-down(md)
        left: 12px
        right: 12px
        &__3
            left: 50%
        &__2,
        &__4
            display: none
