header[role="banner"]
    .logo
        img
            width: 144px
            height: auto

h1
    font-style: italic

footer[role="contentinfo"]
    .logo
        img 
            width: 220px
            height: auto
