<button type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navigation"
    aria-controls="navigation"
    aria-expanded="false"
    aria-label="{{ i18n "commons.menu.label" }}">
</button>

{{ if eq site.LanguageCode "nl" }}
    <img src="/assets/images/nl/climate-action.png" alt="Climate Action" width="1270" height="123" class="climate-action climate-action--horizontal">
    <img src="/assets/images/nl/climate-action-vertical.png" alt="Climate Action" width="426" height="428" class="climate-action climate-action--vertical">
{{ else }}
    <img src="/assets/images/climate-action.png" alt="Climate Action" width="1270" height="123" class="climate-action climate-action--horizontal">
    <img src="/assets/images/climate-action-vertical.png" alt="Climate Action" width="426" height="428" class="climate-action climate-action--vertical">
{{ end }}