<div class="letters">
  <div class="container">
    <div class="letter letter--first {{ if .Page.IsHome }}letter--active{{ end }}">
      <span>
        {{ $image := resources.Get "images/image.png" | resources.Fingerprint }}
        <a href="{{ site.Home.Permalink }}" aria-label="{{- chomp site.Home.Title -}}">
          <img src="{{ $image.Permalink }}" alt="" height="500" width="500">
        </a>
      </span>
      <div>
        {{ with .GetPage "/" }}
          {{ .Params.summary | safeHTML }}
        {{ end }}
      </div>
      <ul>
    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
    {{ $slug := index (split .RelPermalink "/") 3 }}
    {{ $currentLetter := substr $slug 0 1 | anchorize | upper }}
    {{ $currentPermalink := .Permalink }}
    {{ if .IsHome }}
      {{ $currentPermalink = "" }}
    {{ end }}

    {{/* "/nl/voorwaarden/", but we want "/voorwaarden" */}}
    {{ $termsPath := index .Site.Home.Params.children 0 }}
    {{/* "/nl/voorwaarden/" -> "voorwaarden" */}}
    {{ $termsPath =  index (split $termsPath "/") 1 }}
    {{/* "voorwaarden" -> "/voorwaarden" */}}
    {{ $termsPath = printf "/%s" $termsPath }}

    {{/* Iterate on all pages to find only terms */}}
    {{ range .Site.Pages.ByTitle  }}
      {{ if $termsPath | in .Permalink }}
        {{ if not (strings.HasSuffix .Permalink $termsPath) }}
          {{ $slug := index (split .RelPermalink "/") 3 }}
          {{ $firstChar := substr $slug 0 1 | anchorize | upper }}
          {{ if $firstChar | in $letters }}
            {{ $curLetter := $.Scratch.Get "curLetter" }}
            {{ if ne $firstChar $curLetter }}
              {{ $.Scratch.Set "curLetter" $firstChar }}
                </ul>
              </div>
              <div class="letter letter--{{ $firstChar }} {{ if (eq $currentLetter $firstChar) }} letter--active{{ end }}">
                <span>{{ $firstChar }}</span>
              <ul>
            {{ end }}
            {{ if eq .Permalink $currentPermalink }}
              <li class="active">{{ .Title }}</li>
            {{ else }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
<div class="lines">
  <span class="lines__line lines__1"></span>
  <span class="lines__line lines__2"></span>
  <span class="lines__line lines__3"></span>
  <span class="lines__line lines__4"></span>
  <span class="lines__line lines__5"></span>
</div>
