<div class="letters">
  <div class="container">
    <div class="letter letter--first {{ if .Page.IsHome }}letter--active{{ end }}">
      <span><img src="/assets/images/nations-unies-emblem.svg" alt="" width="120" height="102"></span>
      <p>
        {{ with .GetPage "/" }} 
          {{ .Params.description_short }}
          {{ end }}
        </p>
        <ul>
    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
    {{ $slug := index (split .RelPermalink "/") 3 }}
    {{ $currentLetter := substr $slug 0 1 | anchorize | upper }}
    {{ $currentPermalink := .Permalink }}
    {{ if .IsHome }}
      {{ $currentPermalink = "" }}
    {{ end }}
    {{ range .Site.Pages.ByTitle  }}
      {{ if "/termes/" | in .Permalink }}
        {{ if not (strings.HasSuffix .Permalink "/termes/") }}
          {{ $slug := index (split .RelPermalink "/") 3 }}
          {{ $firstChar := substr $slug 0 1 | anchorize | upper }}
          {{ if $firstChar | in $letters }}
            {{ $curLetter := $.Scratch.Get "curLetter" }}
            {{ if ne $firstChar $curLetter }}
              {{ $.Scratch.Set "curLetter" $firstChar }}
                </ul>
              </div>
              <div class="letter letter--{{ $firstChar }} {{ if (eq $currentLetter $firstChar) }} letter--active{{ end }}">
                <span>{{ $firstChar }}</span>
              <ul>
            {{ end }}
            {{ if eq .Permalink $currentPermalink }}
              <li class="active">{{ .Title }}</li>
            {{ else }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }} 
  </div>
</div>
<div class="lines">
  <span class="lines__line lines__1"></span>
  <span class="lines__line lines__2"></span>
  <span class="lines__line lines__3"></span>
  <span class="lines__line lines__4"></span>
  <span class="lines__line lines__5"></span>
</div>
